body {
  font-size: 16px;
  letter-spacing: 0.1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  background-color: #003d00;
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: brown;
}

main {
  background: #fff url("../images/coming-soon.jpg") no-repeat;
  background-size: cover;
}

footer {
  background-color: #629749;
}

footer ul li {
  list-style-type: none;
}

footer p {
  text-align: center;
}
